<li class="col-md-3 col-sm-3 col-xs-12">
  <a href="<%= image_url "photo_#{num}.jpg" %>" class="thumbnail" data-toggle="lightbox" data-gallery="example-gallery" 
    data-type="image">
    <%= image_tag "photo_#{num}.jpg" %>
    <span class="caption"><i class="icon-plus-sign"></i></span>
  </a>
</li>